* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

body {
  background: #000;
  color: white;
}

/* ESCENA */
#escena {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("img/fondo.png");
  background-size: contain;     /* ajusta completo sin deformar */
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* HUD */
#hud {
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  text-align: left;
}

#tiempo {
  font-size: 3rem;
  margin-bottom: 10px;
}

#puntaje {
  font-size: 1.4rem;
}

/* ZONA OBJETO */
#objetos {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.objeto {
  width: 120px;
  cursor: grab;
}

/* ZONAS ACTIVAS */
.caneca {
  position: absolute;
  width: 180px;
  height: 220px;
  transform: translate(-50%, -50%);
  border-radius: 12px;

  /* visible para calibrar */
  background: rgba(0,255,0,0.15);
  border: 2px solid rgba(0,255,0,0.6);
}

/* POSICIONES */
#blanca { top: 70%; left: 35%; }
#verde  { top: 70%; left: 50%; }
#negra  { top: 70%; left: 65%; }
