* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
  background-image: url("img/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* HUD */
#hud {
  padding: 15px;
  color: white;
  font-weight: bold;
}

#tiempo {
  font-size: 3rem;
}

#puntaje {
  font-size: 1.2rem;
}

/* ESCENA */
#escena {
  position: relative;
  height: 400px;
}

/* ZONA OBJETO */
#objetos {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.objeto {
  width: 120px;
  cursor: grab;
}

/* ZONAS ACTIVAS (boxes invisibles) */
.caneca {
  position: absolute;
  top: 220px;            /* MISMA COORDENADA Y */
  width: 150px;
  height: 180px;
  background: rgba(255,255,255,0.25);
  border: 2px dashed rgba(255,255,255,0.5);
}

/* POSICIÓN HORIZONTAL */
#blanca { left: 20%; }
#verde  { left: 45%; }
#negra  { left: 70%; }
